.page{
    margin-top: -450px;
}

body{
    background-color: #eceaff;
}


.image1 #img1 {
    width: 30%;
    float: right;
    margin-top: -180px;
}

.header {
    font-size: 40px;
}

.blood1 {
    margin: 20px;
    padding: 30px;
    background-color: beige;
}

.blood2 {
    margin: 20px;
    padding: 30px;
    background-color: cornsilk;
}

.blood3 {
    margin: 20px;
    padding: 30px;
    background-color: darkgrey;
}

.btn-designs #btn1 {
    margin: 20px 0 -20px 100px;
    height: 70px;
    width: 20%;
    background: #69275c;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.btn-designs #btn2 {
    margin: 50px 0 30px 100px;
    padding: 20px;
    height: 70px;
    width: 20%;
    background: #69275c;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.btn-designs #btn3 {
    margin: 20px 0 -20px 100px;
    height: 70px;
    width: 20%;
    background: #69275c;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

#btn1:hover {
    background: red;
}

#btn2:hover {
    background: red;
}

#btn3:hover {
    background: red;
}

.blood1 p {
    font-weight: 500;
}

.blood2 p {
    font-weight: 500;
}

.login_b{
    visibility: hidden;
}

