*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}
body{
    background-size: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    min-height: 10vh;
}
footer{
    justify-content: center;
    align-items: center;
     background-color: rgb(0, 0, 0);
     display: flex;
     width: 100%;
     padding: auto;
}
.fcontainer {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    font-size: small;
    min-height: 50px;
    min-width: 520px;
    color:#fffffff2;
    font-family: poppins;
    padding:0 2rem;
}
.col .logo{
    width: 250px;
    margin-bottom:15px;
    margin-left: 2px;

}
.col h4{
    color:#5a224f;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}
.col h4::after{
   
    width:0px;
    margin-bottom: -5px;
    background-color: #5a224f;
    position: absolute;
    top: -5px;
    transition: 0.3s ease;

}
.col h4:hover::after{
    width:30px
}
.col .social a i{
    color:#5a224f;
    margin-top:2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}
.col .social a i:hover{
    transform: scale(1.5);
    filter:grayscale(25);
}
.col .links a{
    display: block;
    text-decoration: none;
    color:#f2f2f2;
    margin-bottom: -2px;
    transition: 0.3s ease;
}
.col .links a::before{
    content:'';
    height: 16px;
    width:3px;
    position: absolute;
    top:5px;
    left: -10px;
    background-color: #5a224f;
    transition: 0.5s ease;
    opacity: 0;
}
.col .links a:hover::before{
    opacity: 1;
}
.col .links a:hover{
    transform: translateX(-8px);
    color:#5a224f;
}
.col .contact-details{
    display: inline-flex;
    justify-content: space-between;
}
.col .contact-details i{
    margin-right:10px;
}
.copyright{
    color: #f2f2f2;
    text-align: center;
    background-color: rgb(36, 34, 34);
    padding: 3px 0;
    width: 100%;
}